footer {
    height: 96px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.footer-navbar {
    font-size: 24px;
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .footer-navbar {
        font-size: 18px;
    }
}